# Vercel
.vercel

# Node modules
node_modules/

# Build output
dist/

# Package-lock
package-lock.json

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db